header
    .logo 
        .logo-wrap 
            a.logo-link(href="/")
                img.logo-img(src='/img/logo-top.svg')

    navigation.nav
        ul.nav-items
            li.nav-item
                a.nav-link(href="#") О нас
            li.nav-item
                a.nav-link(href="#") Каталог
            li.nav-item
                a.nav-link(href="#") Партнеры
            li.nav-item
                a.nav-link(href="#") Контакты

    .lang-selector
        select.js-example-basic-single(name="lang")
            option(value="RU") RU
            option(value="EN") EN