header
    .container
        .logo 
            a.logo-link(href="/")
                img.logo-img(src='/img/logo-top.svg')

        navigation.nav
            ul.nav-items
                li.nav-item
                    a.nav-link(href="about") О нас
                li.nav-item
                    a.nav-link(href="catalog") Каталог
                li.nav-item
                    a.nav-link(href="partners") Партнеры
                li.nav-item
                    a.nav-link(href="contacts") Контакты

        .lang-selector
            //- span.btn.btn--callback.js__header-callback  Связаться с нами
            select.js-example-basic-single(name="lang")
                option(value="RU") RU
                option(value="EN") EN