section.video 
    .container 
        .video-box 
            video(pip="false" id="showreel_video" class="video-js" preload="auto"
                data-setup="{}" tabindex="-1" controls role="application"
            poster="/img/big-video.jpg"
            src="https://svet.media/wp-content/uploads/2024/03/showreel_2024_1080.mp4"
            style="width: 100%; height: auto;")
                source(src="https://svet.media/wp-content/uploads/2024/03/showreel_2024_1080.mp4" type="video/mp4")


            .overlay
                .play-btn.js__play-video