section.video.wow.animate__animated.animate__fadeInUp
    .container 
        .video-box 
            .overlay(style="background-image: url(/img/big-video.jpg)")
                .play-btn.js__play-video

            video(pip="false" id="showreel_video" class="video-js" preload="auto"
                data-setup="{}" tabindex="-1" controls role="application"
            src="https://svet.media/wp-content/uploads/2024/03/showreel_2024_1080.mp4"
            style="width: 100%; height: auto;")
                source(src="https://svet.media/wp-content/uploads/2024/03/showreel_2024_1080.mp4" type="video/mp4")


