section.video 
    .container 
        .video-box 
        .play-btn


section.videos 
    .container.container-overflow
        .swiper-block.js__videos-slider
            .swiper
                .swiper-wrapper
                    .swiper-slide 
                        .inner 
                            .bg-slide(style="background-image: url(/img/video-1.jpg);")
                    .swiper-slide 
                        .inner 
                            .bg-slide(style="background-image: url(/img/video-2.jpg);")
                    .swiper-slide 
                        .inner 
                            .bg-slide(style="background-image: url(/img/video-3.jpg);")
                    .swiper-slide 
                        .inner 
                            .bg-slide(style="background-image: url(/img/video-1.jpg);")
                    .swiper-slide
                        .inner 
                            .bg-slide(style="background-image: url(/img/video-2.jpg);")