//- section.categories.wow.animate__animated.animate__fadeInUp.scrollable
    .container.container-overflow
        .swiper-block.js__categories-slider
            .swiper-navigation
                .swiper-nav-btn.prev 
                .swiper-nav-btn.next 
            .swiper
                .swiper-wrapper
                    .swiper-slide 
                        .inner 
                            .title Кухни
                            .bg-slide(style="background-image: url(/img/cat-1.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Уличная
                                br
                                | мебель
                            .bg-slide(style="background-image: url(/img/cat-2.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Двери
                                br
                                | и панельные
                                br
                                | системы
                            .bg-slide(style="background-image: url(/img/cat-3.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Гостиные
                            .bg-slide(style="background-image: url(/img/cat-4.jpg);")
                            .more.js__category-more
                    .swiper-slide
                        .inner 
                            .title Кухни
                            .bg-slide(style="background-image: url(/img/cat-5.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Кухни
                            .bg-slide(style="background-image: url(/img/cat-1.jpg);")
                            .more.js__category-more

.modal.js-modal
    .container
        .swiper.nested-slider-parent
            .swiper-wrapper
                .swiper-slide
                    .swiper.nested-slider-child
                        .swiper-wrapper
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                        .nested-slider-navigation
                            .swiper-button.prev
                            .swiper-button.next

                .swiper-slide
                    .swiper.nested-slider-child
                        .swiper-wrapper
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                        .nested-slider-navigation
                            .swiper-button.prev
                            .swiper-button.next

                .swiper-slide
                    .swiper.nested-slider-child
                        .swiper-wrapper
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                            .swiper-slide
                                .inner
                                    .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
                        .nested-slider-navigation
                            .swiper-button.prev
                            .swiper-button.next

            .parent-slider-navigation
                .swiper-button.prev
                .swiper-button.next

    .close-modal.js__close-modal 





    //- .swiper-modal.js__modal-category
    //-     .swiper-modal-category-control
    //-         .swiper-nav-btn.prev 
    //-         .swiper-nav-btn.next 
    //-     .swiper.swiper-out.js__modal-category-swiper
    //-         .swiper-wrapper.swiper-wrapper-out
    //-             .swiper-slide.swiper-slide-out 
    //-                 .inner-out 1

    //-                     .swiper.js__category-details
    //-                         .swiper-modal-detail-control
    //-                             .swiper-nav-btn.prev 
    //-                             .swiper-nav-btn.next 
    //-                         .swiper-wrapper.swiper-wrapper-in
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 1
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 2
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 3
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-             .swiper-slide.swiper-slide-out 
    //-                 .inner-out 2

    //-                     .swiper.js__category-details
    //-                         .swiper-modal-detail-control
    //-                             .swiper-nav-btn.prev 
    //-                             .swiper-nav-btn.next 
    //-                         .swiper-wrapper.swiper-wrapper-in
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 1
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 2
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 3
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-             .swiper-slide.swiper-slide-out 
    //-                 .inner-out 3

    //-                     .swiper.js__category-details
    //-                         .swiper-modal-detail-control
    //-                             .swiper-nav-btn.prev 
    //-                             .swiper-nav-btn.next 
    //-                         .swiper-wrapper.swiper-wrapper-in
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 1
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 2
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")
    //-                             .swiper-slide.swiper-slide-in 
    //-                                 .inner-in 3
    //-                                     .bg-slide(style="background-image:url(/img/categories-slider-01.jpg)")