section.categories 
    .container 
        .swiper.js__categories-slider
            .swiper-wrapper
                .swiper-slide 
                    .inner 
                        .title ALL 
                .swiper-slide 
                    .inner 
                        .title ALL
                .swiper-slide 
                    .inner 
                        .title ALL 
                .swiper-slide 
                    .inner 
                        .title ALL 
                .swiper-slide 
                    .inner 
                        .title ALL
                .swiper-slide 
                    .inner 
                        .title ALL 
                .swiper-slide 
                    .inner 
                        .title ALL 
                .swiper-slide 
                    .inner 
                        .title ALL
                .swiper-slide 
                    .inner 
                        .title ALL 

