section.categories 
    .container.container-overflow
        .swiper-block.js__categories-slider
            .swiper-navigation
                .swiper-nav-btn.prev 
                .swiper-nav-btn.next 
            .swiper
                .swiper-wrapper
                    .swiper-slide 
                        .inner 
                            .title Кухни
                            .bg-slide(style="background-image: url(/img/cat-1.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Уличная
                                br
                                | мебель
                            .bg-slide(style="background-image: url(/img/cat-2.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Двери
                                br
                                | и панельные
                                br
                                | системы
                            .bg-slide(style="background-image: url(/img/cat-3.jpg);")
                            .more.js__category-more
                    .swiper-slide 
                        .inner 
                            .title Гостиные
                            .bg-slide(style="background-image: url(/img/cat-4.jpg);")
                            .more.js__category-more
                    .swiper-slide
                        .inner 
                            .title Кухни
                            .bg-slide(style="background-image: url(/img/cat-5.jpg);")
                            .more.js__category-more
