footer.wow.animate__animated.animate__fadeInUp(data-wow-duration="3s")
    .container 
        .inner
            .logo-block 
                a.logo(href='/')
                    img.logo(src="/img/logo-bottom.svg")

                .copyrights @2024. Все права защищены

            .links-block 
                .footer-menu
                    .menu-wrap
                        .title Меню

                        ul.links 
                            li.link__item 
                                a.nav-link(href='about') О нас
                            li.link__item 
                                a.nav-link(href='catalog') Каталог
                            li.link__item 
                                a.nav-link(href='partners') Партнеры
                            li.link__item 
                                a.nav-link(href='contacts') Контакты

                    .confidencial Политика конфиденциальности


                .footer-contacts
                    .contacts-wrap
                        .title Контакты

                        a.phone(href="tel:84951112233") 8 (495) 111 22 33

                        a.mail(href="mailto:mail@mail.com") mail@mail.com


                        .socials 
                            a.soc-link.soc-link__tg(href="#")
                            a.soc-link.soc-link__wa(href="#")
                            a.soc-link.soc-link__vk(href="#")

                    .madein
                        span.text Разработано
                        img.logo(src="/img/madein-logo.svg")