section#partners.partners.wow.animate__animated.animate__fadeInUp(data-wow-duration="3s")
    .container 
        ul.partners-list 
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-showflake.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-cactus.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-showflake.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-blossom.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-blossom.svg")                    
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-showflake.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-cactus.svg")
            li.partner
                .logo-wrap 
                    img.logo__img(src="/img/partner-cactus.svg")