section.partners 
    .container 
        ul.partners-list 
            li.partner 
                img.logo__img(src="/img/partner-showflake.svg")
            li.partner 
                img.logo__img(src="/img/partner-cactus.svg")
            li.partner 
                img.logo__img(src="/img/partner-showflake.svg")
            li.partner 
                img.logo__img(src="/img/partner-blossom.svg")
            li.partner 
                img.logo__img(src="/img/partner-blossom.svg")                    
            li.partner 
                img.logo__img(src="/img/partner-showflake.svg")
            li.partner 
                img.logo__img(src="/img/partner-cactus.svg")
            li.partner 
                img.logo__img(src="/img/partner-cactus.svg")