section.promo
    .container
        .promo-slider.swiper 
            .swiper-wrapper
                .swiper-slide
                    .slider-inner
                        .section-title 
                            .title-row Премиальная  
                            .title-row мебель из Италии

                        .touch-point.touch-point--1.pulse   
                        .touch-point.touch-point--2.pulse
                        .touch-point.touch-point--3.pulse


section.third-second 
    .container 
        .col.col-left
            .inner
                .block-label О нас
                .section-title
                    .title Актуальная
                        br
                        | и эстетичная

                    .subtitle Мебель, с которой жизнь становится лучше
        .col.col-right
            .inner