section.promo.wow.animate__animated.animate__fadeIn(data-wow-duration="4s")
    .container
        .promo-slider-wrap
            .promo-slider.swiper 
                .swiper-wrapper
                    .swiper-slide
                        .slider-inner
                            .section-title 
                                .title-row Премиальная  
                                .title-row мебель из Италии

                            .touch-point.touch-point--1.pulse
                                .info.info-1 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности. 
                            .touch-point.touch-point--2.pulse
                                .info.info-2 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                            .touch-point.touch-point--3.pulse
                                .info.info-3 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности..
                    .swiper-slide
                        .slider-inner
                            .section-title 
                                .title-row Премиальная  
                                .title-row мебель из Италии

                            .touch-point.touch-point--1.pulse
                                .info.info-1 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности. 
                            .touch-point.touch-point--2.pulse
                                .info.info-2 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                            .touch-point.touch-point--3.pulse
                                .info.info-3 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                    .swiper-slide
                        .slider-inner
                            .section-title 
                                .title-row Премиальная  
                                .title-row мебель из Италии

                            .touch-point.touch-point--1.pulse
                                .info.info-1 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности. 
                            .touch-point.touch-point--2.pulse
                                .info.info-2 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                            .touch-point.touch-point--3.pulse
                                .info.info-3 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                    .swiper-slide
                        .slider-inner
                            .section-title 
                                .title-row Премиальная  
                                .title-row мебель из Италии

                            .touch-point.touch-point--1.pulse
                                .info.info-1 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности. 
                            .touch-point.touch-point--2.pulse
                                .info.info-2 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                            .touch-point.touch-point--3.pulse
                                .info.info-3 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                    .swiper-slide
                        .slider-inner
                            .section-title 
                                .title-row Премиальная  
                                .title-row мебель из Италии

                            .touch-point.touch-point--1.pulse
                                .info.info-1 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности. 
                            .touch-point.touch-point--2.pulse
                                .info.info-2 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
                            .touch-point.touch-point--3.pulse
                                .info.info-3 
                                    .info__text
                                        .title Стул Adajios
                                        .text Стул из натурального дерева в дизайне на стыке классики и современности.
            .promo__controls
                .slider-arrow.prev
                .slider-arrow.next 
            .promo__dots

section#about.third-second.wow.animate__animated.animate__fadeInUp(data-wow-duration="3s")
    .container 
        .col.col-left
            .inner
                .block-label О нас
                .section-title
                    .title Актуальная
                        br
                        | и эстетичная

                    .subtitle Мебель, с которой жизнь становится лучше
                .bg-slide(style="background-image: url(/img/photo-01.jpg);")
        .col.col-right
            .inner
                .bg-slide(style="background-image: url(/img/photo-02.jpg);")