.callback {
    margin: 2.8rem 0 10.6rem;
    .container {
        .top-screen {
            // height: 104rem;
            height: 64rem;
            background-image: url(/img/bottom-form-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 1.8rem;
            margin: 2.8rem 0;
        }
        .bottom-screen {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin: -28.8rem 0 0 0;
            .form-screen {
                width: 50%;
                margin-left: 2.8rem;

                z-index: 10;
                .title {
                    font-size: 7rem;
                    font-weight: 100;
                    color: #fff;
                    text-transform: uppercase;
                    background: #1c1d21;
                    position: absolute;
                    top: -10.7rem;
                    left: -2.8rem;
                    z-index: 1;
                    padding: 1.6rem 3.8rem;
                    letter-spacing: -0.025rem;
                    border-radius: 1.8rem 1.8rem 0 0;
                    height: 36.8rem;

                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        background-image: url(/img/triangle.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 1.8rem;
                        height: 1.8rem;
                        bottom: -0.3rem;
                        left: 0.4rem;
                        transform: translateX(-100%) rotate(-90deg);
                    }

                    .bg_elem {
                        position: absolute;
                        display: block;
                        width: 24rem;
                        height: 5rem;
                        background-color: #1c1d21;
                        top: 22.6%;
                        right: -18.6rem;
                        opacity: 1;

                        &::before,
                        &::after {
                            display: block;
                            position: absolute;
                            content: "";
                            background-image: url(/img/triangle.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 1.8rem;
                            height: 1.8rem;
                            top: 0.45rem;
                            left: 5rem;
                            transform: translateY(-100%) rotate(0deg);
                        }
                        &::after {
                            transform: translateY(-100%) rotate(-90deg);
                            left: auto;
                            right: 0.15rem;
                        }
                    }
                }

                .form#callback {
                    background: #fff;
                    height: 69.7rem;
                    z-index: 5;
                    border-radius: 1.8rem;
                    padding: 5.4rem 5.5rem 6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .fields {
                        .field {
                            width: 100%;
                            margin-bottom: 4.8rem;
                            input {
                                width: 100%;
                            }
                            .input--text {
                                font-size: 4rem;
                                font-weight: 100;
                                color: #1c1d21;
                                border: none;
                                border-bottom: 0.1rem solid #1c1d21;
                                padding: 0.6rem 0;
                            }
                            .input--check {
                                display: block;
                                width: 2.2rem;
                                height: 2.2rem;
                                margin: 0 1.4rem 0 0;
                                flex: none;

                                &:focus:checked {
                                    background-color: #1c1d21;
                                }
                            }

                            .agree {
                                display: flex;
                                font-size: 2.2rem;
                                line-height: 1.25;
                                margin: -0.5rem 0 0 0;
                                max-width: 85%;
                            }
                        }
                        .field--agree {
                            margin: 7.8rem 0 0 0;
                            display: flex;
                            align-items: flex-start;

                            .input--check {
                                position: absolute;
                                z-index: -1;
                                opacity: 0;
                                display: block;
                                width: 0;
                                height: 0;
                            }
                            .input--check + .agree:before,
                            .input--check:checked + .agree:before {
                                background-image: url(/img/input--check.svg);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 2rem;
                                height: 2rem;
                                display: block;
                                position: relative;
                                left: 0;
                                top: 0;
                                content: "";
                                flex: none;
                                margin: 0.4rem 1.8rem 0 0;
                            }

                            /* Checked */
                            .input--check:checked + .agree:before {
                                background-image: url(/img/input--check-y.svg);
                            }

                            /* Focus */
                            .focused span:before {
                                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                            }

                            /* Hover */
                            .checkbox-other span:hover:before {
                                filter: brightness(110%);
                            }

                            /* Active */
                            .checkbox-other span:active:before {
                                filter: brightness(80%);
                            }

                            /* Disabled */
                            .input--check:disabled + .agree {
                                color: #666;
                                cursor: default;
                            }
                            .checkbox-other
                                input[type="checkbox"]:disabled
                                + .agree:before {
                                filter: grayscale(100%);
                                opacity: 0.6;
                            }
                        }
                    }
                    .controls {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .submit {
                            font-size: 4.2rem;
                            color: #fff;
                            border: 0.1rem solid #1c1d21;
                            background-color: #1c1d21;
                            padding: 1.9rem 3.7rem;
                            text-transform: uppercase;
                            line-height: 1;
                            font-weight: 300;
                            letter-spacing: -0.18rem;
                            border-radius: 1.8rem;
                            cursor: pointer;
                            transition: all 0.3s linear;

                            &:hover {
                                background: #fff;
                                color: #1c1d21;
                            }
                        }

                        .socials {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin: 9.8rem 0 7.8rem 0;
                            .soc-link {
                                width: 5.6rem;
                                height: 5.6rem;
                                margin: 0 2.6rem 0 0;
                                cursor: pointer;
                                text-decoration: none;
                                border-radius: 10rem;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                background-color: #fff;
                                border: 0.1rem solid #1c1d21;
                                transition: all 0.3s linear;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                            .soc-link__tg {
                                background-image: url(/img/icon-telegram.svg);
                            }
                            .soc-link__wa {
                                background-image: url(/img/icon-whatsapp.svg);
                            }
                            .soc-link__vk {
                                background-image: url(/img/icon-vk.svg);
                            }
                        }
                    }
                }
            }

            .left-block {
                width: 50%;
                height: 40.8rem;
                background-image: url(/img/callback-left.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 1.8rem;
            }
        }
    }
}
