.categories {
    margin: 2.8rem 0 11.2rem;
    .container {
        .swiper-block {
            .swiper-navigation {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0;
                margin: 0 0 2.8rem 0;
                .swiper-nav-btn {
                    width: 5.2rem;
                    height: 5.2rem;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin: 0 0 0 2.5rem;
                    cursor: pointer;
                }
                .prev {
                    background-image: url(/img/icon-slider-prev.svg);
                    transition: all 0.5s linear;
                    &:hover {
                        background-image: url(/img/icon-slider-next-hover.svg);
                    }
                }
                .next {
                    background-image: url(/img/icon-slider-next.svg);
                    transition: all 0.5s linear;
                    &:hover {
                        background-image: url(/img/icon-slider-next-hover.svg);
                    }
                }
            }
            .swiper {
                height: 47.3rem;
                .swiper-wrapper {
                    height: 100%;
                    .swiper-slide {
                        width: 48rem;
                        height: 100%;
                        overflow: hidden;
                        // border-radius: 1.8rem;
                        min-height: 40rem;
                        &:last-child {
                            margin-right: 0 !important;
                        }
                        .inner {
                            width: 100%;
                            height: 100%;
                            .title {
                                font-family: "Commissioner", sans-serif;
                                color: #fff;
                                font-size: 3rem;
                                text-transform: uppercase;
                                font-weight: 100;
                                display: inline-block;
                                padding: 3rem 0 0 3.5rem;
                                border-radius: 0 0 1.8rem 0;
                                letter-spacing: 0.05rem;
                                z-index: 10;
                                line-height: 1.15;
                            }
                            .bg-slide {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 1.8rem;
                                overflow: hidden;
                            }

                            .more {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                width: 6.3rem;
                                height: 6.3rem;
                                background: #1c1d21;
                                border-radius: 1.8rem 0 0 0;
                                background-image: url(/img/icon-slider-next.svg);
                                background-repeat: no-repeat;
                                background-position: 100% 83%;
                                background-size: 80%;
                                transition: all 0.5s linear;
                                cursor: pointer;

                                &:hover {
                                    background-image: url(/img/icon-slider-next-hover.svg);
                                }
                                &::before,
                                &::after {
                                    display: block;
                                    position: absolute;
                                    content: "";
                                    background-image: url(/img/triangle.svg);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    right: -0.6rem;
                                    top: 0.6rem;
                                    transform: translate(0, -100%)
                                        rotate(-90deg);
                                }

                                &::after {
                                    right: auto;
                                    top: auto;
                                    bottom: -0.6rem;
                                    left: 0.6rem;
                                    transform: translate(-100%, 0)
                                        rotate(-90deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
