* {
    position: relative;
    outline: none;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    font-size: 0.520834vw;
}
body {
    // font-size: 0.520834vw;
    width: 100%;
    min-height: 100%;
    min-width: 32rem;
    overflow: hidden;
    background-color: $black;
}
body.fixed {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}
.container {
    width: 100%;
    max-width: 190.3rem;
    padding: 0 2.8rem;
    margin: 0 auto;
}
.container-overflow {
    overflow-x: hidden;
}
.container-fluid {
    max-width: 100%;
}
.pulse {
    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 0.1rem solid #d6d6d6;
        left: -1rem;
        opacity: 0;
        right: -1rem;
        top: -1rem;
        bottom: -1rem;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
    }

    &::after {
        animation-delay: 1.25s;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }
}

.btn {
    cursor: pointer;
    border: thin solid #fff;
    color: #fff;
    border-radius: 10rem;
    font-size: 1.6rem;

    &.btn--callback {
        text-transform: uppercase;
        padding: 0.4175rem 1.6rem;
    }
}

.touch-point {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-image: url(/img/icon-hover-point.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 1;
    transition: all 0.8s ease-out;

    .info {
        display: block;
        position: absolute;
        width: 26rem;
        padding: 1.4rem 1.8rem;
        transform: translateX(-100%);
        top: 6.5rem;
        left: -5rem;
        min-height: 10rem;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 2rem 0 2rem 0;
        border-top: 0.18rem solid #fff;
        border-left: 0.18rem solid #fff;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;
        backdrop-filter: blur(1.2rem);

        .info__text {
            display: block;
            font-size: 1.6rem;
            color: #fff;
            font-weight: 600;
            .title {
                display: inline-block;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
                text-shadow: 0 0 0.3rem #717070;
            }
            .text {
                line-height: 1.35;
                font-weight: 400;
                text-shadow: 0 0 0.3rem #717070;
            }
        }

        &::after {
            display: block;
            position: absolute;
            content: "";
            height: 0.14rem;
            background-color: #fff;
            width: 8.2rem;
            transform: rotate(-212.8deg);
            transform-origin: 100% 0%;
            top: 0;
            right: 0;
        }
    }

    &:hover {
        .info {
            opacity: 1;
            visibility: visible;
        }
    }
}
