* {
    position: relative;
    outline: none;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    font-size: 0.520834vw;
}
body {
    // font-size: 0.520834vw;
    width: 100%;
    min-height: 100%;
    min-width: 32rem;
    overflow: hidden;
    background-color: $black;
}
body.fixed {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}
.container {
    width: 100%;
    max-width: 190.3rem;
    padding: 0 2.8rem;
    margin: 0 auto;
}
.container-overflow {
    overflow-x: hidden;
}
.container-fluid {
    max-width: 100%;
}
.pulse {
    &::after,
    &::before {
        content: "";
        position: absolute;
        border: 0.1rem solid #d6d6d6;
        left: -1rem;
        opacity: 0;
        right: -1rem;
        top: -1rem;
        bottom: -1rem;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
    }

    &::after {
        animation-delay: 1.25s;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }
}

.btn {
    cursor: pointer;
    border: thin solid #fff;
    color: #fff;
    border-radius: 10rem;
    font-size: 1.6rem;

    &.btn--callback {
        text-transform: uppercase;
        padding: 0.4175rem 1.6rem;
    }
}
