@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-Light.woff2') format('woff2'),
        url('/css/fonts/Raleway-Light.woff') format('woff'),
        url('/css/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-Regular.woff2') format('woff2'),
        url('/css/fonts/Raleway-Regular.woff') format('woff'),
        url('/css/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/css/fonts/Raleway-Thin.woff') format('woff'),
        url('/css/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('/css/fonts/Raleway-SemiBold.woff') format('woff'),
        url('/css/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-Bold.woff2') format('woff2'),
        url('/css/fonts/Raleway-Bold.woff') format('woff'),
        url('/css/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/css/fonts/Raleway-Medium.woff2') format('woff2'),
        url('/css/fonts/Raleway-Medium.woff') format('woff'),
        url('/css/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

