footer {
    margin: 10.6rem 0;
    .container {
        .inner {
            padding: 5rem;
            border-radius: 1.8rem;
            border: 0.2rem solid rgba(217, 217, 217, 0.06);
            background: rgba(217, 217, 217, 0.06);
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .logo-block {
                width: 50%;
                flex: none;
                padding: 0.4rem 0 0 10.4rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44.2em;
                    text-decoration: none;
                    .logo {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .copyrights {
                    color: rgba(230, 230, 230, 0.36);
                    font-size: 1.8rem;
                    line-height: 1;
                }
            }

            .links-block {
                display: flex;
                width: 50%;
                flex: none;
                justify-content: space-between;
                align-items: stretch;
                .footer-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    height: 100%;
                    width: 50%;
                    flex: none;
                    .menu-wrap {
                        padding: 0 0 0 1rem;
                        .title {
                            font-size: 2.2rem;
                            color: rgba(230, 230, 230, 1);
                            text-transform: uppercase;
                            font-weight: 100;
                            margin: 0 0 4.2rem 0;
                        }

                        .links {
                            list-style: none;
                            padding: 0 0 0 0.3rem;
                            .link__item {
                                margin-bottom: 1.7rem;
                                .link {
                                    color: rgba(230, 230, 230, 1);
                                    line-height: 1;
                                    text-decoration: none;
                                    font-size: 2.2rem;
                                    font-weight: 100;
                                    &:hover {
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                    .confidencial {
                        font-size: 1.8rem;
                        color: rgba(230, 230, 230, 0.38);
                        line-height: 1;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                .footer-contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    height: 100%;
                    width: 50%;
                    flex: none;
                    padding: 0 0 0 4.6rem;
                    .contacts-wrap {
                        width: 100%;
                        .title {
                            font-size: 2.2rem;
                            color: rgba(230, 230, 230, 1);
                            text-transform: uppercase;
                            font-weight: 100;
                            margin: 0 0 4rem 0;
                        }

                        .phone {
                            display: flex;
                            font-size: 3rem;
                            color: rgba(230, 230, 230, 1);
                            text-transform: uppercase;
                            font-weight: 100;
                            margin: 0 0 1.6rem 0;
                            text-decoration: none;
                            letter-spacing: 0.05rem;
                            &:hover {
                                font-weight: 300;
                            }
                        }
                        .mail {
                            font-size: 2.2rem;
                            color: rgba(230, 230, 230, 1);
                            font-weight: 100;
                            text-decoration: none;
                            &:hover {
                                font-weight: 300;
                            }
                        }

                        .socials {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin: 9.8rem 0 7.8rem 0;
                            .soc-link {
                                width: 5.6rem;
                                height: 5.6rem;
                                margin: 0 2.6rem 0 0;
                                cursor: pointer;
                                text-decoration: none;
                                border-radius: 10rem;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                                transition: all 0.3s linear;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                            .soc-link__tg {
                                background-image: url(/img/icon-telegram.svg);
                            }
                            .soc-link__wa {
                                background-image: url(/img/icon-whatsapp.svg);
                            }
                            .soc-link__vk {
                                background-image: url(/img/icon-vk.svg);
                            }
                        }
                    }

                    .madein {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .text {
                            font-size: 1.8rem;
                            color: rgba(230, 230, 230, 0.38);
                            line-height: 1;
                            margin: 0 0.4rem 0 0;
                        }
                        .logo {
                            border-style: none;
                            display: block;
                            width: 13.3rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}
