header {
    background-color: #1c1d21;
    padding: 5.8rem 0 5.4rem;
    .container {
        padding: 0 5.6rem;
        display: flex;
        align-content: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .logo-link {
                display: block;
                width: 31.2rem;
                height: 3rem;
                .logo-img {
                    display: inline-block;
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            padding: 0 0 0 12.4rem;
            .nav-items {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                list-style-type: none;
                width: 100%;

                .nav-item {
                    text-transform: uppercase;
                    width: auto;
                    flex: none;
                    padding-left: 0.5rem;
                    margin: 0 1.6rem 0 0;

                    .nav-link {
                        color: $white;
                        text-decoration: none;
                        font-size: 1.6rem;
                        letter-spacing: 0.05rem;
                        font-weight: 300;
                        line-height: 1;

                        &:hover {
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .lang-selector {
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            width: 31.2rem !important;
            padding: 0 0.2rem 0 0;

            .btn {
                &.btn--callback {
                    padding: 0.55rem 1.6rem;
                    transition: all 0.3s linear;
                    margin: 0 2.5rem 0 0;

                    &:hover {
                        background-color: #fff;
                        color: #1c1d21;
                    }
                }
            }
            .select2-container--default {
                display: block;
                margin: 0;
                height: auto;
                width: auto !important;
                line-height: 1;
                .selection {
                    display: block;
                    height: 100%;
                    width: 100%;

                    .select2-selection--single {
                        display: inline-block;
                        font-size: 1.8rem;
                        color: #fff;
                        text-transform: uppercase;
                        border: none;
                        background: none;
                        padding: 0;
                        margin: 0;
                        height: auto;

                        .select2-selection__rendered {
                            line-height: 1;
                            margin: 0;
                            padding: 0;
                            color: #fff;
                            border: 0.15rem solid #fff;
                            padding: 0.5rem 1.8rem;
                            border-radius: 10rem;
                            transition: all 0.3s linear;

                            &:hover {
                                background-color: #fff;
                                color: #1c1d21;
                            }
                        }

                        .select2-selection__arrow {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.select2-container--open {
    .select2-dropdown {
        background: none;
        border: none;
        .select2-results {
            .select2-results__options {
                .select2-container--default
                    .select2-results__option--highlighted.select2-results__option--selectable {
                    background: none;
                }
                .select2-results__option {
                    line-height: 1;
                    margin: 0;
                    padding: 0;
                    color: #fff;
                    border: 0.15rem solid #fff;
                    padding: 0.5rem 1.8rem;
                    border-radius: 10rem;
                    -webkit-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                    font-size: 1.8rem;
                    margin: 0.4rem 0;
                    background: none;

                    &:hover {
                        background-color: #fff;
                        color: #1c1d21;
                    }
                }
                .select2-results__option--selected {
                    display: none;
                }
            }
        }
    }
}
