.partners {
    padding: 10rem 0;
    .container {
        .partners-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 172rem;
            margin: 0 auto 7rem;

            &:last-child {
                margin-bottom: 0;
            }

            .partner {
                width: 25%;
                height: 6rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 0 0 8rem;
                .logo__img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}
