.promo {
    .container {
        .promo-slider-wrap {
            .promo-slider {
                width: 100%;
                // height: 110.5rem;
                height: 78.5rem;
                border-radius: 1.8rem;
                margin-bottom: 2.8rem;
                .swiper-wrapper {
                    height: 100%;
                    .swiper-slide {
                        border-radius: 1.8rem;
                        height: 100%;
                        background-image: url(/img/promo.jpg);
                        background-position: center top;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 0.2rem solid #1c1d21;

                        .slider-inner {
                            width: 100%;
                            height: 100%;
                            .section-title {
                                display: inline-flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                left: 6.9%;
                                top: 12.5%;
                                position: absolute;
                                .title-row {
                                    display: inline-block;
                                    font-size: 6.9rem;
                                    font-weight: 100;
                                    text-transform: uppercase;
                                    color: #fff;
                                    background: $black;
                                    padding: 1rem 3.7rem 1.1rem 2.2rem;
                                    line-height: 1;
                                    letter-spacing: -0.15rem;

                                    &:first-child {
                                        border-radius: 1.8rem 1.8rem 0 1.8rem;

                                        &::after {
                                            display: block;
                                            position: absolute;
                                            content: "";
                                            background-image: url(/img/triangle.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            width: 2.4rem;
                                            height: 2.4rem;
                                            right: 0.6rem;
                                            bottom: 0.4rem;
                                            transform: translateX(100%);
                                        }
                                    }
                                    &:last-child {
                                        margin-left: 6.4rem;
                                        margin-top: -1rem;
                                        padding: 1rem 2.4rem 1.6rem 2.2rem;
                                        letter-spacing: -0.15rem;
                                        border-radius: 0 1.8rem 1.8rem 1.8rem;

                                        &::before {
                                            display: block;
                                            position: absolute;
                                            content: "";
                                            background-image: url(/img/triangle.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            width: 2.4rem;
                                            height: 2.4rem;
                                            top: 0.4rem;
                                            left: 0.6rem;
                                            transform: translateX(-100%)
                                                rotate(-180deg);
                                        }
                                    }
                                }
                            }

                            
                            .touch-point--1 {
                                left: 71.5%;
                                top: 15%;

                                .info-1 {
                                    .info__text {
                                    }
                                }
                            }
                            .touch-point--2 {
                                left: 52.7%;
                                top: 50.5%;

                                .info-2 {
                                    .info__text {
                                    }
                                }
                            }
                            .touch-point--3 {
                                top: 64%;
                                left: 88.5%;

                                .info-3 {
                                    .info__text {
                                    }
                                }
                            }                            
                        }
                    }
                }
            }

            .promo__controls {
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 0;
                top: 50%;
                transform: translateY(-2rem);
                z-index: 50;
                cursor: pointer;
                padding: 0 4rem;
                margin: 6.5rem 0;
                cursor: pointer;

                .slider-arrow {
                    width: 4rem;
                    height: 3rem;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: all 0.3s linear;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .prev {
                    background-image: url(/img/promo-prev.svg);
                }
                .next {
                    background-image: url(/img/promo-next.svg);
                }
            }

            .promo__dots {
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 3rem;
                height: 2rem;
                z-index: 50;

                .swiper-pagination-bullet {
                    width: 4.5rem;
                    height: 0.3rem;
                    margin: 0 0.25rem !important;
                    border-radius: 5rem;
                    opacity: 1;
                    background-color: #1c1d21;

                    &.swiper-pagination-bullet-active {
                        background: #fff;
                    }
                }
            }
        }
    }
}

.third-second {
    margin: 2.8rem 0;
    .container {
        width: 100%;
        height: 65.2rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        .col {
        }
        .col-left {
            width: 66.25%;
            .inner {
                width: 100%;
                height: 100%;
                .bg-slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 1.8rem;
                    overflow: hidden;
                    border: 0.2rem solid #1c1d21;
                }

                .section-title {
                    display: inline-flex;
                    flex-direction: column;
                    position: absolute;
                    font-weight: 100;
                    color: #fff;
                    top: 7.2%;
                    left: 12.3%;
                    z-index: 10;
                    .title {
                        display: inline-block;
                        font-size: 7rem;
                        text-transform: uppercase;
                        margin: 0 0 2.2rem 0;
                    }

                    .subtitle {
                        display: inline-block;
                        font-size: 2rem;
                        margin: 0 0 0 0.6rem;
                    }
                }

                .block-label {
                    display: inline-block;
                    position: absolute;
                    font-size: 2.2rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #fff;
                    background: #1c1d21;
                    padding: 1.1rem 3rem 1.4rem 2rem;
                    border-radius: 0 0 1.8rem 0;
                    z-index: 10;

                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        background-image: url(/img/triangle.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 2.4rem;
                        height: 2.4rem;
                        right: 0.6rem;
                        top: -0.45rem;
                        transform: translateX(100%) rotate(90deg);
                    }
                    &::after {
                        display: block;
                        position: absolute;
                        content: "";
                        background-image: url(/img/triangle.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 2.4rem;
                        height: 2.4rem;
                        left: -0.45rem;
                        bottom: 0.6rem;
                        transform: translate(0, 100%) rotate(90deg);
                    }
                }
            }
        }
        .col-right {
            width: 32.25%;
            .inner {
                width: 100%;
                height: 100%;

                .bg-slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 1.8rem;
                    overflow: hidden;
                    border: 0.2rem solid #1c1d21;
                }
            }
        }
    }
}
